/* START OF DOCUMENT CSS */
body, p {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

* {
    -webkit-font-smoothing: antialiased;
}

/* END OF DOCUMENT CSS */

/* START OF NAVBAR CSS */

.float-left {
    display: block;
    float: left;
}

.float-right {
    display: block;
    float: right;
}

#topbar {
    background-color: #000;
    width: 100%;
    height: 48px;
}

#logo {
    padding: 9px 16px;
}

#signin-image {
    padding: 11px 66px 6px 16px;
}

#search {
    background-color: #fff;
    border: none;
    font-weight: 600;
    padding: 5px;
    margin: 10px;
    background-image: url(images/searchimage.PNG);
    background-repeat: no-repeat;
    background-position: right center;
    width: 100%;
}

#searchimage {
    display:inline-block;
    padding: 5px 5px 5px 0px;
    margin: 0;
}

#signin-image:hover {
    border-bottom: 4px solid #18b;
    height: 25px;
}

#news:hover {
    border-bottom: 4px solid #921;
    height: 14px;
}

#sport:hover {
    border-bottom: 4px solid #fe1;
    height: 14px;
}

#weather:hover {
    border-bottom: 4px solid #8ce;
    height: 14px;
}

#shop:hover {
    border-bottom: 4px solid #2897e5;
    height: 14px;
}

#earth:hover {
    border-bottom: 4px solid #fff;
    height: 14px;
}

#more {
    padding-right: 10px;
    display: inline-block;
}

#more:hover {
    border-bottom: 4px solid #fff;
    height: 14px;
}

#triangleDown {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #ffffff;
    display: inline-block;
    margin-left: 60px;
    margin-right: 0px;
    padding: 0px;
}

/* DEFAULT BASE SETTINGS */
/* SIMPLE HORIZONTAL NAVBAR */
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    font-family: Arial,Helvetica,freesans,sans-serif;
    font-weight: 600;
    background-color: #000;
    top: 0;
/*    width: 1100px;*/
    width: 90%;
    margin: 0 auto;
}

li {
  /* FLOAT METHOD */
  /* This must be used with: li a { display: block; } */
  /* Displaying the li a as block makes the whole link area clickable and not just the text, and allows to specify padding, margin, height, etc. */
  float: left;
  border-right: 1px solid white;
    border-bottom: 2px solid #000;
}

li a {
  display: block;
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
    height: 100%
}

li a.active {
  background-color: #fff;
  color: #111;
}

li:last-child {
  border-right: none;
}

/* END OF NAVBAR CSS */

/* START OF PAGE CSS */

#page {

    background-color: #e7e8e1;
    margin: 0;
    width: 100%;
    height: 400px;
    display: block;
    padding: 1% 3%;
}

#date {
    background-color: #e7e8e1;
    height: 40px;
    margin: 0;
}

#date h2 {
    color: #4a4a4a;
    font-family: Arial,Helvetica,freesans,sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    margin: 0;
    text-align: right;
    padding: 16px 60px;
}

#date span {
    float: left;
}

.large-preview {
    border: none;
    height: 90%;
    list-style: none;
    margin: 1% 3%;
    padding: 0;
    width: 50%;
    width: 600px;
    
}

.small-preview {
    
    background-color: blueviolet;
    border: none;
    height: 43%;
    list-style: none;
    margin-bottom: 1%;
    margin-left: 2%;
    padding: 0;
    width: 20%;
    width: 260px;

}

.title {
    margin: 0;
    padding: 0;
    margin-top: 70%;
}

#page img {
    
    display: block;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    
}

#page ul, li {
    background-color: inherit;
}



/* END OF PAGE CSS */