/* START OF DOCUMENT CSS */
body, p {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

* {
    -webkit-font-smoothing: antialiased;
}

/* END OF DOCUMENT CSS */

/* START OF NAVBAR CSS */

.float-left {
    display: block;
    float: left;
}

.float-right {
    display: block;
    float: right;
}

#topbar {
    background-color: #000;
    width: 100%;
    height: 48px;
}

#logo {
    padding: 9px 16px;
}

#signin-image {
    padding: 11px 66px 6px 16px;
}

#search {
    background-color: #fff;
    border: none;
    font-weight: 600;
    padding: 5px;
    margin: 10px;
    background-image: url(images/searchimage.PNG);
    background-repeat: no-repeat;
    background-position: right center;
    width: 100%;
}

#searchimage {
    display:inline-block;
    padding: 5px 5px 5px 0px;
    margin: 0;
}

#signin:hover {
    border-bottom: 4px solid #18b;
    height: 44px;
}

#news:hover {
    border-bottom: 4px solid #921;
    height: 44px;
}

#sport:hover {
    border-bottom: 4px solid #fe1;
    height: 44px;
}

#weather:hover {
    border-bottom: 4px solid #8ce;
    height: 44px;
}

#shop:hover {
    border-bottom: 4px solid #2897e5;
    height: 44px;
}

#earth:hover {
    border-bottom: 4px solid #fff;
    height: 44px;
}

#travel:hover {
    border-bottom: 4px solid #fff;
    height: 44px;
}

#more {
    padding-right: 10px;
    display: inline-block;
}

#more:hover {
    border-bottom: 4px solid #fff;
    height: 44px;
}

#triangleDown {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #ffffff;
    display: inline-block;
    margin-left: 60px;
    margin-right: 0px;
    padding: 0px;
}

/* DEFAULT BASE SETTINGS */
/* SIMPLE HORIZONTAL NAVBAR */
#topbar ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    font-family: Arial,Helvetica,freesans,sans-serif;
    font-weight: 600;
    background-color: #000;
    top: 0;
/*    width: 1100px;*/
    width: 90%;
    margin: 0 auto;
}

#topbar li {
  /* FLOAT METHOD */
  /* This must be used with: li a { display: block; } */
  /* Displaying the li a as block makes the whole link area clickable and not just the text, and allows to specify padding, margin, height, etc. */
  float: left;
  border-right: 1px solid white;
    border-bottom: 2px solid #000;
}

.button a {
  display: block;
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
    height: 100%
    
}

#topbar li a.active {
  background-color: #fff;
  color: #111;
}

#topbar li:last-child {
  border-right: none;
}

/* END OF NAVBAR CSS */

/* START OF PAGE CSS */

#date {
    background-color: #e7e8e1;
    height: 40px;
    margin: 0;
}

#date h2 {
    color: #4a4a4a;
    font-family: Arial,Helvetica,freesans,sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    margin: 0;
    text-align: right;
    padding: 16px 60px;
}

#date span {
    float: left;
}

#page {
    padding: 16px;
    background-color: #e7e8e1;
}

.content {
   
}

.content img {
    max-height: 100%;
    max-width: 100%;
}

.row *, .row *:before, .row *:after {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin: 0 -10px;
    margin-bottom: 20px;
}

.row:last-child {
    margin-bottom: 0;
}

[class*="col-"] {
    padding: 10px;
}

.col-1-2 {
float: left;
width: 50%;
}

.col-1-4 {
float: left;
width: 25%;
}

.title {
    background-color: gray;
    position: absolute;
    
/*
    margin: 0;
    padding: 0;
    margin-top: 70%;
*/
}

/* END OF PAGE CSS */